<ion-view view-title="Events">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="event in events" href="#/app/events/{{event.id}}">
        
        <div class="row">
        	<p><strong>{{event.name}}</strong></p>
        </div>
        <div class="row">
	        <div class="col">
		        <h4>Location: </h4>
		        <h2>{{event.location}}</h2>
	        </div>
	        <div class="col">
		        <h4>Date: </h4>
		        <h2>{{event.date}}</h2>
	        </div>
	        <div class="col">
		        <h4>Time: </h4>
		        <h2>{{event.time}}</h2>
	        </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
