<ion-view view-title="Settings">
  <ion-content>
    <ul class="list">
      <div class="item item-divider">
	    Show Notifications
	  </div>
	  <li class="item item-toggle">
	     New Events
	     <label class="toggle toggle-assertive">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	  <li class="item item-toggle">
	     Starting Events
	     <label class="toggle toggle-assertive">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	  <div class="item item-divider">
	    Personalization
	  </div>
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Color
	    </div>
	    <select>
	      <option selected>Red</option>
	      <option>Blue</option>
	      <option>Green</option>
	    </select>
	  </label>

	</ul>
  </ion-content>
</ion-view>
